<br />
<div class="container-fluid" [ngStyle]="{ 'text-align': 'center' }">
  <div class="col-md-offset-1">
    <h1>Welcome to My OSZ application</h1>
  </div>

  <br />

  <button routerLink="/login" class="btn btn-info" style="margin-left: 10px" data-toggle="modal">Login to application</button>

  <button routerLink="/tasks" class="btn btn-info" style="margin-left: 10px" data-toggle="modal">List of tasks</button>

  <button routerLink="/addTask" class="btn btn-info" style="margin-left: 10px" data-toggle="modal">Add new Task</button>

  <button (click)="logoutUser()" class="btn btn-danger" style="margin-left: 10px" data-toggle="modal">Logout</button>

  <button (click)="downloadUserTasksWebFluxReport()" class="btn btn-danger" style="margin-left: 10px" data-toggle="modal">
    Download WebFlux Report
  </button>

  <button (click)="downloadUserTasksReportNormal()" class="btn btn-info" style="margin-left: 10px" data-toggle="modal">
    Download normal report
  </button>

  <button routerLink="/contact" class="btn btn-info" style="margin-left: 10px" data-toggle="modal">Contact Us</button>

  <br />
  <router-outlet></router-outlet>
</div>
