<br />

<div *ngIf="taskFound; then taskFounded; else notFound"></div>

<ng-template #notFound>
  <div>
    <h3>The task with id {{ taskId }} not found!</h3>
  </div>
</ng-template>

<ng-template #taskFounded>
  <div class="row">
    <div class="col-6">
      <div class="read-only-field">
        <label>Identifier :</label>
        <div>
          {{ task?.id }}
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="read-only-field">
        <label>Title :</label>
        <div>
          {{ task?.title }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="read-only-field">
        <label>Description :</label>
        <div>
          {{ task?.description }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="read-only-field">
        <label>Creation Date :</label>
        <div>
          {{ task?.creationDate }}
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="read-only-field">
        <label>Start Date :</label>
        <div>
          {{ task?.startDate }}
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="read-only-field">
        <label>End Date :</label>
        <div>
          {{ task?.endDate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="read-only-field">
        <label>Status :</label>
        <div>
          {{ getTasksStatus(task?.complete) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <div class="read-only-field">
        <label>User identifier :</label>
        <div>
          {{ task?.userId }}
        </div>
      </div>
    </div>

    <div class="col-2">
      <button
        mat-raised-button
        matTooltip="show the user details"
        class="btn btn-info"
        style="margin-left: 5px"
        (click)="showUserDetails(task?.userId)"
      >
        Complete task
      </button>
    </div>
  </div>
</ng-template>
